.header {
  margin-top: 170px;
}
.dept-about {
  font-weight: 400;
  margin: 50px 10px 20px;
}
.bg-overlay {
  background: linear-gradient(rgba(25, 47, 116, 0.66), rgba(25, 47, 116, 0.28)),
    url("../dept-img/cs-wall.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 300px;
  padding-top: 50px;
}
.bg-overlay-comm {
  background: linear-gradient(rgba(25, 47, 116, 0.66), rgba(25, 47, 116, 0.28)),
    url("../dept-img/comm-wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 300px;
  padding-top: 50px;
}
.bg-overlay-eng {
  background: linear-gradient(rgba(25, 47, 116, 0.66), rgba(25, 47, 116, 0.28)),
    url("../dept-img/eng-wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 300px;
  padding-top: 50px;
}
.bg-overlay-hm {
  background: linear-gradient(rgba(25, 47, 116, 0.66), rgba(25, 47, 116, 0.28)),
    url("../dept-img/hm-wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 300px;
  padding-top: 50px;
}

.c-details {
  border: none;
  background: whitesmoke;
  font-weight: 400;
  margin-bottom: 10px;
  border-left: 10px solid #192f744d;
  border-right: 10px solid #192f744d;
}
@media (min-width: 850px) {
  .course-item {
    display: inline-block;
  }
}
